---
title: melissa leigh gore
---
<section class="container space">
  <div class="columns">
    <div class="column">
      <%= partial "intro" %>
    </div>
    <div class="column">
      <nav class="home has-text-centered">
        <a href="#about-me">about me</a> |
        <a href="#tinyletter">tinyletter</a>
      </nav>
   </div>
  </div>

  <div class="columns">
    <div class="column">
      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <article class="code tile is-child box">
            <a href="#code"><h2 class="variant-1 title is-2">code</h2></a>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="poetry tile is-child box">
            <a href="#writing"><h2 class="variant-2 title is-2">writing</h2></a>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<%= partial "bio" %>
<%= partial "code" %>
<%= partial "writing" %>
<%= partial "tinyletter" %>

